<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/flask/static/style.css">
    <title>Most Loved Melons</title>
</head>

<body id="page-background">
<header><h1>UberMelon’s Most Loved Melons</h1></header>

    <div>
        <img src='http://www.rareseeds.com/assets/1/14/DimThumbnail/Sugar-Baby-Watermelon-web.jpg'>
    </div>

    <form action="/get-name" name="person" method="GET">
        <br>
        Enter Name: <input type="text" name="firstname" required>
        <input type="submit" value="Submit">
    </form>


</body>
</html>
